.wrapper {
  background-color: var(--clr-accent);
  border-radius: 3px;
  height: 1.6rem;
  width: 100%;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Link {
  font-size: 1rem;
  color: var(--clr-background);
  text-decoration: none;
}
