.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 1fr 10%;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.form {
  width: 100%;
}
