.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 1fr 10%;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

p {
  color: var(--clr-text-secondary);
  text-align: left;
}

.iconBackground {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 100%;
  background-color: var(--clr-background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
