.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  position: relative;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  position: relative;
}

p {
  color: var(--clr-text-secondary);
  text-align: left;
  margin: 0;
  font-size: 0.8em;
}

.iconBackground {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  border: 1px solid var(--clr-text-secondary);
  background-color: var(--clr-background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lower {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0.25rem;
  margin-bottom: 1rem;
}

.upper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0.25rem;
  margin-top: 1rem;
}
