.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 1fr 10%;
  width: 100%;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.elements {
  width: 100%;
  padding: 1rem;
}
