.nav {
  background-color: var(--clr-background);
  border: 1px solid var(--clr-text-secondary);
  box-shadow: 0 -2px 2px 2px var(--clr-text-secondary);
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
