.nav {
  background-color: var(--clr-background);
  border-top: solid 1px var(--clr-text-secondary);
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
