.ratingDisplayWrapper {
  height: 25rem;
  padding: 10% 0 10% 0;
  display: flex;
  flex-direction: column;
  width: 1.5rem;
  justify-content: center;
}

.icon {
  height: 10%;
}

.indicator {
  width: 50%;
  height: 14%;
  border: 1px solid var(--clr-text-secondary);
  background-color: var(--clr-background);
  border-radius: 3px;
  padding: 2px;
}

.low {
  background-color: var(--clr-low);
  border: 1px solid var(--clr-text-secondary);
}

.medium {
  background-color: var(--clr-medium);
  border: 1px solid var(--clr-text-secondary);
}

.high {
  background-color: var(--clr-high);
  border: 1px solid var(--clr-text-secondary);
}
